.vs/**
/.vs/planeasy-crowdsourcing-framework.slnx/FileContentIndex/13b5fe37-5c66-442b-be00-a00d1b767731.vsidx
/.vs/planeasy-crowdsourcing-framework.slnx/FileContentIndex/7fc1b297-c788-4eec-baa3-00cc50c107f0.vsidx
/.vs/planeasy-crowdsourcing-framework.slnx/v18/.wsuo
/.vs/planeasy-crowdsourcing-framework.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
